.photoActeur {
    width: 100px;
    height: auto;
    border-radius: 50px;
}

.nomActeur {
    font-size: 1.25rem;
    font-weight: bold;
}

.paysActeur {
    width: 20px;
}

.nbFilmsActeur {
    background: round orange;
    border-radius: 10px;
}

#listeFilms {
    list-style: none;
}

.film {
    margin-top: 20px;
}

.afficheFilm {
    width: 100px;
    height: auto;
}

.titreFilm {
    font-size: 1.25rem;
    font-weight: bold;
}

.checkedStar {
    color: orange;
}